.wrapper {
  position: relative;
}

.wrapper p {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 60px;
  font-family: sans-serif;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  top: 14%;
  left: 50%;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
}

.wrapper .getting-started-button {
  position: absolute;
  top: 45%;
  left: 20%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 30px;
  border: solid white 2px;
  padding: 7px;
  color: white;
  text-decoration: none;
}

.wrapper .getting-started-button:hover {
  background: rgba(255, 255, 255, 0.3);
}

.wrapper img {
  width: 100%;
}